@use "src/app/styles.scss" as *;

.priceCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    @include setFont("Montserrat", 16px, 500, white);
}