@use "src/app/styles.scss" as *;

.productContainer {
  display: flex;
  gap: 40px;
  flex-direction: column;

  header {
    h2 {
      @include setFont('Russo One', 32px, 400, white);
    }
  }
}

.content {
  display: flex;
  gap: 32px;
}

.productInfo {
  display: flex;
  gap: 32px;
}

.imageBox {
  display: flex;
  gap: 40px;
  flex-direction: column;

  .imgBox {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 600px;
    max-width: 600px;
    border-radius: 10px;
  }

  img {
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.filterBox {
  width: 426px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.title {
  @include setFont('Montserrat', 19px, 400, black);
}
.text {
  @include setFont('Montserrat', 19px, 400, lightgray);
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sliderContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 600px;
  height: 110px;

  img {
    height: 110px;
  }
}

.slide {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid white;

  &:hover {
    border: 2px solid var(--button-color);
  }
}

.loading {
  color: white;
  @include setFont('Montserrat', 52px, 600, white)
}