.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slide {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}