@use 'src/app/styles.scss' as *;

.card {
  display: flex;
  gap: 25px;
  padding: 10px;
}

.cardDelivery {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lightgray;

    .text {
      color: black;
    }
  }
}

.cardInfo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.title {
  @include setFont('Montserrat', 16px, 500, black);
}

.text {
  @include setFont('Montserrat', 16px, 500, lightgray);
}
