@use 'src/app/styles.scss' as *;

.card {
  position: relative;
  cursor: pointer;

  display: flex;
  flex-direction: column-reverse;

  border-radius: 20px;
  box-shadow: 0px 14px 18.8px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(33, 188, 255, 0),
    rgba(33, 188, 255, 0.5) 100%
  );
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(237, 58, 134, 0),
      rgba(237, 58, 134, 0.5) 100%
    );
  }

  img {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  header {
    padding: 40px;

    h2 {
      @include setFont('Montserrat', 16px, 500, white);
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.homePage {
  width: 206px;
  height: 190px;
}

.producList {
  width: 232px;
  height: 264px;
}
