@use "src/app/styles.scss" as *;

.card {
    border: 1px solid white;
    border-radius: 30px;
    padding: 22px;

    width: 100%;
    height: 100%;

    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 45px;
        width: 45px;
    }
}

.info p {
    @include setFont('Montserrat', 14px, 400, white);
    text-align: center;
    line-height: 20px;
}