@use 'src/app/styles.scss' as *;

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 25px 15px;
  border-radius: 10px;
  border: none;

  legend {
    @include setFont('Montserrat', 20px, 500, white);
  }

  ul {
    display: flex;
    gap: 16px;

    li {

      button {
        cursor: pointer;
        padding: 10px 13px;
        background-color: white;
        @include setFont('Montserrat', 16px, 500, black);
        text-decoration: none;
    
        border: 2px solid transparent; /* Используем прозрачную границу по умолчанию */
        outline: none;
        border-radius: 10px;
    

        &:hover {
          border: 2px solid var(--button-color);
        }

      }
    }
  }
}

.active {
  border: 2px solid var(--button-color) !important;
}
