@use "src/app/styles.scss" as *;

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 25px 15px;
  border-radius: 10px;

  legend {
    @include setFont('Montserrat', 20px, 500, white);
  }

  ul {
    display: flex;
    gap: 16px;
    list-style-type: none; // добавьте это, чтобы убрать маркеры списка

    li {

      a {
        padding: 10px 15px;
        background-color: white;
        border-radius: 10px;
        border: 2px solid white;
        @include setFont('Montserrat', 16px, 500, black);
        text-decoration: none; // добавьте это, чтобы убрать подчеркивание
        &:hover {
          border: 2px solid var(--button-color);
        }
      }
    }
  }
}

