@use "src/app/styles.scss" as *;

.basketCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infoBox {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
        padding: 5px;
        height: 100px;
        width: 100px;
        border-radius: 10px;
        border: 1px solid black;
    }
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    p {
        width: 270px;
        line-height: 25px;
        @include setFont('Montserrat', 16px, 600, black);
    }

    button {
        background: none;
        border: none;
        text-align: left;
        @include setFont('Montserrat', 16px, 600, #848484);

        &:hover {
            cursor: pointer;
        }
    }
}

.priceBox {
    display: flex;
    gap: 20px;

    h2 {
        @include setFont('Montserrat', 20px, 600, black);
    }
}