.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-color);
  width: 118px;
  height: 163px;
  top: 3px;
  left: 1690px;
  gap: 0px;
  border-radius: 0px 0px 89px 0px;
  border: none;
}