.sliderContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 600px;
    height: 110px;
  
    img {
      height: 110px;
    }
  }
  
  .slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid white;

    img {
      // min-width: 123px;
      max-width: 100%;
    }
  
    &:hover {
      border: 2px solid var(--button-color);
    }
  }