@use "src/app/styles.scss" as *;

.priceContainer {
  width: 313px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.priceBox {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.oldPrice {
  @include setFont('Montserrat', 16px, 500, black);
}

.price {
  @include setFont('Montserrat', 24px, 600, black);
}

@media (min-width: 320px) and (max-width: 435px) {
  .priceContainer {
    width: 100%;
  }
}