@use "src/app/styles.scss" as *;

.card {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  border: 1px solid white;

  h2 {
    @include setFont('Montserrat', 16px, 600, white);
  }
}

.oldPrice {

}

.price {

}