.swiperButton {
  width: 120px;
  height: 60px;

  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    90deg,
    rgba(33, 188, 255, 0),
    rgba(33, 188, 255, 0.5) 100%
  );

  user-select: none; /* CSS3 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  img {
    height: 18px;
    width: 18px;
  }
}
